<Layouts.admin flash={@flash} current_scope={@current_scope}>
  <div class="flex flex-col text-center max-w-lg m-auto mt-20 gap-4">
    <div>
      <p class="text-lg">
        <.icon name="hero-no-symbol" class="w-7 h-7 align-top" />
        Registration is currently disabled.
      </p>
      <p class="text-secondary">Ask an admin to create your account.</p>
    </div>

    <.button navigate={~p"/users/log-in"}>Login</.button>
  </div>
</Layouts.admin>
