<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    New Published item
    <:subtitle>Use this form to manage published_item records in your database.</:subtitle>
  </.header>

  <.published_item_form
    changeset={@changeset}
    action={~p"/published_items"}
    return_to={~p"/published_items"}
  />
</Layouts.app>
