<Layouts.admin flash={@flash} current_scope={@current_scope}>
  <.header>
    New Published item
    <:subtitle>Use this form to manage published_item records in your database.</:subtitle>
  </.header>

  <.published_item_form
    changeset={@changeset}
    action={~p"/admin/published_items"}
    return_to={~p"/admin/published_items"}
  />
</Layouts.admin>
