<Layouts.landing flash={@flash} current_scope={@current_scope} locale_form={@locale_form}>
  <div class="flex flex-col gap-4 p-10 max-w-screen-lg mx-auto">
    <h1 class="text-3xl font-semibold text-primary">{gettext("Developer Documentation")}</h1>
    <p class="text-base">
      {gettext(
        "Welcome to the developer documentation page. Here you can find technical information about developing our products and services."
      )}
    </p>
    <div class="flex flex-row p-4 gap-8">
      <div class="flex flex-col gap-4 grow">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 wrap">
          <%= for {section, section_pages} <- @sections do %>
            <article
              id={section}
              class={[
                if(section == "", do: "col-span-1 sm:col-span-2", else: "col-span-1"),
                "flex flex-col gap-4 bg-base-100 p-6 rounded-lg"
              ]}
            >
              <h2 :if={section != ""} class="text-2xl font-semibold text-primary">
                {Admin.DeveloperDocs.translate_section(section)}
              </h2>
              <%= for page <- section_pages do %>
                <div class="flex flex-col">
                  <.link href={~p"/technical/docs/#{page.id}"}>
                    {page.title}
                  </.link>
                  <span class="text-sm text-neutral">{page.description}</span>
                </div>
              <% end %>
            </article>
          <% end %>
        </div>

        <div class="flex flex-col items-center md:flex-row bg-base-100 p-6 rounded-lg justify-between w-full">
          <span>{gettext("Did not find what you were looking for?")}</span>
          <.link class="btn btn-primary" href={~p"/contact"}>
            {gettext("Contact us")}
          </.link>
        </div>
      </div>
    </div>
  </div>
</Layouts.landing>
