<Layouts.landing
  flash={@flash}
  current_scope={@current_scope}
  locale_form={@locale_form}
  class="bg-base-200"
>
  <div class="flex flex-col gap-4 p-10 max-w-screen-lg mx-auto">
    <h1 class="text-3xl font-semibold text-primary">{gettext("Documentation")}</h1>
    <p class="text-base">
      {gettext(
        "Welcome to the Graasp documentation. Here you can find information about our products and services."
      )}
    </p>
    <div class="flex flex-row p-4 gap-8">
      <div class="flex flex-col gap-4 grow">
        <.doc_sections_grid
          sections={@sections}
          default_section="intro"
          translate_section={&Admin.Docs.translate_section/1}
          page_href={fn page -> ~p"/docs/#{page.id}" end}
          show_locale_badge
        />
        <div class="flex flex-col items-center md:flex-row bg-base-100 p-6 rounded=lg justify-between w-full">
          <div class="flex flex-row gap-2">
            <.icon name="hero-computer-desktop" class="size-6 text-primary" />
            <span>{gettext("Looking for developer documentation?")}</span>
          </div>
          <.link class="btn btn-primary" href={~p"/technical/docs"}>
            {gettext("Developer documentation")}
          </.link>
        </div>
        <.doc_contact_cta />
      </div>
    </div>
  </div>
</Layouts.landing>
