<Layouts.admin flash={@flash}>
  <.header>
    Edit planned maintenance "{@planned_maintenance.slug}"
  </.header>

  <.planned_maintenance_form
    changeset={@changeset}
    action={~p"/maintenance/#{@planned_maintenance}"}
    return_to={~p"/maintenance"}
  />
</Layouts.admin>
