<Layouts.admin flash={@flash}>
  <.header>
    New planned maintenance
  </.header>

  <.planned_maintenance_form
    changeset={@changeset}
    action={~p"/admin/maintenance"}
    return_to={~p"/admin/maintenance"}
  />
</Layouts.admin>
