name: Build and Deploy
run-name: Build for ${{ inputs.environment || 'development' }}

on:
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      environment:
        description: "Deployment environment"
        required: true
        default: development
        type: environment

permissions:
  id-token: write # This is required for requesting the JWT for OIDC

jobs:
  build:
    name: Build & Push Image
    runs-on: ubuntu-24.04-arm
    environment: ${{ inputs.environment || 'development' }}
    # Do not run simultaneous builds
    concurrency:
      group: ${{ github.workflow }}-${{ inputs.environment || 'development' }}-${{ github.ref }}
      cancel-in-progress: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          repository: graasp/client
          path: client

      - name: Install Mise
        uses: jdx/mise-action@v3

      - name: build client
        run: cd client && mise run build
        env:
          VITE_VERSION: ${{ inputs.version || github.sha }}
          VITE_GRAASP_API_HOST: ${{ vars.VITE_GRAASP_API_HOST }}
          VITE_GRAASP_WS_HOST: ${{ vars.VITE_GRAASP_WS_HOST }}
          VITE_GRAASP_LIBRARY_HOST: ${{ vars.VITE_GRAASP_LIBRARY_HOST }}
          VITE_SENTRY_ENV: ${{ inputs.environment || 'development' }}
          VITE_SENTRY_DSN: ${{ secrets.VITE_SENTRY_DSN }}
          VITE_SHOW_NOTIFICATIONS: true
          VITE_UMAMI_WEBSITE_ID: ${{ secrets.VITE_UMAMI_WEBSITE_ID }}
          VITE_UMAMI_HOST: ${{ vars.VITE_UMAMI_HOST }}
          VITE_RECAPTCHA: ${{ secrets.VITE_RECAPTCHA_SITE_KEY }}
          VITE_GRAASP_H5P_INTEGRATION_URL: ${{ vars.VITE_GRAASP_H5P_INTEGRATION_URL }}
          VITE_GRAASP_REDIRECTION_HOST: ${{ vars.VITE_GRAASP_REDIRECTION_HOST }}
        shell: bash

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Auth to the ECR
        run: bash ./scripts/auth.sh ${{ vars.PRIVATE_ECR }} ${{ vars.AWS_REGION }}
        shell: bash

      - name: Build image
        run: |
          docker build -t ${{ vars.PRIVATE_ECR }}/graasp/admin:latest .
          docker push ${{ vars.PRIVATE_ECR }}/graasp/admin:latest
        shell: bash

      - name: Restart Service
        if: ${{ inputs.environment != 'production' }}
        run: |
          aws ecs update-service --cluster graasp-dev --service admin --force-new-deployment
        shell: bash
