name: release-please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Release Please
        id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_PLEASE_PAT }}
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json

      - uses: actions/checkout@v4

      - name: Build image
        if: ${{ steps.release.outputs.releases_created == 'true' }}
        uses: ./.github/actions/build-images
        with:
          tag: ${{ steps.release.outputs.tag_name }}
          aws-ecr-uri: ${{ vars.GRAASP_PUBLIC_ECR }}
          aws-role-arn: ${{ vars.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Auto Tag
        if: ${{ steps.release.outputs.releases_created == 'true' }}
        uses: graasp/graasp-deploy/.github/actions/auto-tag-after-release@v1
        with:
          releases_created: ${{ steps.release.outputs.releases_created }}
          tag_name: ${{ steps.release.outputs.tag_name }}
